.categoryTable {
    width: 100%;
    min-height: 100vh;
    .mainSection {
        width: 100%;
        height: 100%;
        padding:2rem;
    }

    .imageBox {
        width: 90px;
        height: 80px;
    }

    .categoryImage {
        width: 100%;
        height: 80px;
        border-radius: 0.25rem;
        object-fit: cover;
    }
}

