
.ButtonsPopover {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.IconButtonBox {
  width: 40px;
  height: 40px;
}

.IconButton {
  font-size: 2rem;
}